
{% extends 'loginbase.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_filters %}
{% block content %}
{% load static %}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'lstyle.css' %}" >
<style>
  .container {
  position: relative;
  padding: 45px;
  width: 350px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.container::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%
  );
}

</style>

      <a class="btn btn-warning" href="verification/" role="button" style="width: 290px; height: 50px; font-size:large;">Login with Phone Number</a>
      <br><br><br>

      {% get_providers as socialaccount_providers %}
      <div class="socialaccount_ballot">
        <div class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
      </div>

{% endblock %}



